<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- queryParams and fragment are bindable properties of the routerLink directive. If you add them like below
      in the template, they will be added to the path. -->
      <a
        [routerLink]="['/servers', server.id, 'edit']"
        [queryParams]="{allowEdit: 'foo'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload servers</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

